* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}
section.discover {
    background-image: url("https://theme.zdassets.com/theme_assets/678183/b7e9dce75f9edb23504e13b4699e208f204e5015.png");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

}
div.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1280px;
}
section.discover div.wrapper header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
section.discover div.wrapper header div.left {
    display: flex;
    align-items: center;
}
section.discover div.wrapper header div.left h1 {
    font-size: 17px;
    display: flex;
    align-items: center;
}
section.discover div.wrapper header div.left h1 a {
    display: flex;
    align-items: center;

}
section.discover div.wrapper header div.left h1 a div.logo {
    width: 124px;
    
}
section.discover div.wrapper header div.left h1 a div.logo img {
    display: block;
    width: 100%;
    height: 100%px;
}
section.discover div.wrapper header div.middle {
    display: flex;
    align-items: center;
}
section.discover div.wrapper header div.middle ul {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 17px;
}
section.discover div.wrapper header div.middle ul li {
    margin-right: 20px;
    padding: 10px;

}
section.discover div.wrapper header div.middle ul li a {
    color: #fff;
    font-weight: 600;
}
section.discover div.wrapper header div.middle ul li a:hover {
    border-bottom: 1px solid#fff;
}
section.discover div.wrapper header div.right {
    
}
section.discover div.wrapper header div.right button.button {
    color: black;
    background-color: #fff;
    font-size: 13px;
    border-radius: 40px;
    padding: 7px 16px;
    cursor: pointer;
    border: none;
}
section.discover div.wrapper header div.right button.button:hover {
    box-shadow: 0 4px 13px;
}

/* header end/// */

section.discover div.spotlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    text-align: center;
    
}
section.discover div.spotlight h1 {
    color: #fff;
    font-weight: 800;
    font-size: 60px;
    
}
section.discover div.spotlight p {
    color: #fff;
    margin-top: 12px;

}

section#explore {
   width: 100%;
   margin: 40px 0px;
}
section#explore div.discover_explore-top {
    width: 68%;
    display: flex;
    align-items: center;
}
section#explore div.discover_explore-top div.search-container {
    width: 100%;
    margin-right: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    background-color: #7b7a7a14;
}
section#explore div.discover_explore-top div.search-container input {
    width: 100%;
    padding: 16px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    background-color: #00000014;
    border-radius: 3px;
    height: 26px;
    border: none;
}
section#explore div.discover_explore-top button {
    background-color: #5865f2;
    padding: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
/* discover top end// */

section#explore div.discover_explore-bottom {
    padding: 40px;
    margin: 0 auto;
    max-width: 1060px;
}
section#explore div.discover_explore-bottom div.container {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}
section#explore div.discover_explore-bottom div.container div.bottom-left {
    max-width: 280px;
    width: 100%;
}
section#explore div.discover_explore-bottom div.container div.bottom-left a.active {
    max-width: 272px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-radius: 4px;
    padding: 11px 14px;
    margin-right: 8px;
    margin-bottom: 12px;
}
section#explore div.discover_explore-bottom div.container div.bottom-left a.active:hover{
    background-color: #f2f2f2;

}
section#explore div.discover_explore-bottom div.container div.bottom-left a.active i {
    margin-right: 8px;
    color: black;
}
section#explore div.discover_explore-bottom div.container div.bottom-left a.active span.explore-btn {
    color: black;
}

/* left end//// */

section#explore div.discover_explore-bottom div.container div.bottom-right {
    max-width: 680px;
    width: 100%;
    font-size: 16px;
}
section#explore div.discover_explore-bottom div.container div.bottom-right div.result-found {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 700;
}
section#explore div.discover_explore-bottom div.container div.bottom-right div.result-found span {
    margin-right: 5px;
}

 div.items {
    width: 100%;
} 
 div.items div.left-side {
    width: 100%;
}
 div.items div.left-side div.image-container {
    width: 400px;
}
 div.items div.left-side div.image-container img {
    width: 100%;
}
section#explore div.discover_explore-bottom div.container div.bottom-right div.items {
    display: flex;
    padding: 8px;
    margin-bottom: 16px;
    max-width: 696px;
    min-height: 64px;
    width: 100%;
}
section#explore div.discover_explore-bottom div.container div.bottom-right div.items:hover {
    background-color: #f2f2f2;
}
section#explore div.discover_explore-bottom div.container div.bottom-right div.items div.left-side {
    max-width: 256px;
    width: 100%;
    height: 145px;
    margin-right: 16px; 
}
section#explore div.discover_explore-bottom div.container div.bottom-right div.items div.left-side div.image-container {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 8px;
    overflow: hidden;
}
section#explore div.discover_explore-bottom div.container div.bottom-right div.items div.left-side div.image-container img {
    width: 100%;
    height: 100%;
}
section#explore div.discover_explore-bottom div.container div.bottom-right div.items div.right-side {
    width: 100%;
}
section#explore div.discover_explore-bottom div.container div.bottom-right div.items div.right-side h6 {
    font-size: 14px;
    margin-bottom: 7px;
}
section#explore div.discover_explore-bottom div.container div.bottom-right div.items div.right-side p  {
    font-size: 12px;
    margin-bottom: 8px;
}
section#explore div.discover_explore-bottom div.container div.bottom-right div.items div.right-side span {
    font-size: 11px;
}


